### ðŸ“Š *Business Understanding*

#### A) *Overview*

Small businesses in Ghana play a crucial role in driving the countryâ€™s economic growth, contributing significantly to GDP and employment. However, many of these businesses operate under financial constraints, lack access to data-driven decision-making, and face challenges in profitability and sustainability. This project analyzes a dataset simulating operational and financial records of small businesses across various regions in Ghana to uncover performance patterns and identify key factors influencing success.

---

#### B) *Objectives*

1. Understand the operational and financial structure of small businesses in Ghana.
2. Identify and address data quality issues such as missing values and inconsistent formats.
3. Engineer meaningful features to enhance model performance and insight generation.
4. Apply data preprocessing techniques like scaling, encoding, and normalization.
5. Generate actionable insights through visual analytics.
6. Answer key business questions using machine learning and AI techniques.

---

#### C) *Problem Statement*

Small businesses in Ghana often lack the analytical tools to understand what drives or hinders their performance. By exploring and modeling this data, we aim to identify which factors (e.g., region, business type, education of owners, advertising spend) most significantly influence profitability, customer satisfaction, and operational efficiency.

---

#### D) *Stakeholders*

* *Small Business Owners:* Want to understand what contributes to profitability and growth.
* *Policy Makers and Government Agencies:* Need insights for creating policies and support systems for SMEs.
* *Financial Institutions and NGOs:* Use data to assess risk and fund businesses effectively.
* *Data Analysts/Data Scientists:* Responsible for analyzing, cleaning, modeling, and interpreting the data.

---

#### E) *Features (Key Parts of the Data)*

* *Numerical Features:* revenue, expenses, advertising, employee_count, customer_satisfaction.
* *Categorical Features:* region, business_type, owner_education, ownership_type.
* *Derived Features (to be created):* profit (revenue - expenses), profit_margin, profit_per_employee.

In [1]:
# This is cell takes all imports



import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [15]:
# Load data
df_Small_Business = pd.read_csv('./../Data/small_business_ghana.csv')  

df_Small_Business.head(5)

,business_type,region,revenue,expenses,profit_margin,years_in_operation,owner_education,employee_count,advertising,customer_satisfaction,credit_access,sector_growth
0,Services,Greater Accra,42584.82,21758.31,21.441057,19,Secondary,74,503.67,5,Yes,16.34
1,Manufacturing,Volta,NaN,4188.66,26.951441,4,No Formal Education,98,3434.45,1,Yes,16.04
2,Retail,Western,35736.64,24012.47,43.286788,1,Tertiary,57,3307.10,3,Yes,14.18
3,Services,Volta,28088.18,19916.94,8.954943,8,Secondary,90,1438.97,5,No,13.70
4,Services,Western,15529.00,36193.86,41.263920,23,Secondary,41,4759.23,5,No,-0.86

In [16]:
#Check for missing values
df_Small_Business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   business_type          200 non-null    object
 1   region                 200 non-null    object
 2   revenue                180 non-null    float64
 3   expenses               180 non-null    float64
 4   profit_margin          200 non-null    float64
 5   years_in_operation     200 non-null    int64
 6   owner_education        200 non-null    object
 7   employee_count         200 non-null    int64
 8   advertising            200 non-null    float64
 9   customer_satisfaction  200 non-null    int64
 10  credit_access          200 non-null    object
 11  sector_growth          200 non-null    float64
dtypes: float64(5), int64(3), object(4)
memory usage: 18.9+ KB

In [17]:
#Check for summary statistics
df_Small_Business.describe()

,revenue,expenses,profit_margin,years_in_operation,employee_count,advertising,customer_satisfaction,sector_growth
count,180.000000,180.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,25464.125889,21837.688500,28.074339,12.235000,52.130000,2508.651800,2.975000,4.931800
std,13845.475401,12603.525576,12.440702,7.373031,29.722386,1437.087128,1.447359,8.990995
min,1254.060000,615.480000,5.121990,1.000000,2.000000,147.880000,1.000000,-9.670000
25%,13395.865000,11740.842500,18.163216,5.750000,28.750000,1208.110000,2.000000,-3.525000
50%,25318.670000,21799.855000,28.992051,11.500000,51.500000,2496.745000,3.000000,4.865000
75%,36916.740000,31800.397500,38.510639,19.000000,77.250000,3686.655000,4.000000,12.975000
max,49110.200000,44814.500000,49.896168,24.000000,99.000000,4982.040000,5.000000,19.900000

In [19]:
#Find all the colunms in the dataset
columns = df_Small_Business.columns

for column in columns:
    print(f'{column}')  
    print(f'There are {df_Small_Business[column].unique().size} unique values')  
    print(f'{df_Small_Business[column].unique()}')  
    print('_' * 80)

business_type
There are 4 unique values
['Services' 'Manufacturing' 'Retail' 'Agriculture']
________________________________________________________________________________
region
There are 5 unique values
['Greater Accra' 'Volta' 'Western' 'Northern' 'Ashanti']
________________________________________________________________________________
revenue
There are 181 unique values
[42584.82      nan 35736.64 28088.18 15529.   21569.26 13554.14  4998.11
  1254.06 10519.42  4476.1  20442.41  3487.66 44444.24  2353.22 29364.38
 22485.23 33929.28 17079.48  8597.04 49110.2  42107.74 43159.83 13262.32
 15860.01 27317.04 17005.91 41565.58 14305.6  48297.34 23405.99 42259.13
 10524.62 21156.34 35276.1   7779.3  48507.31 36015.16 20542.22 22242.52
 37458.09 13292.17 10032.35  4962.78 21987.41 34736.5   3851.49 45845.47
 22675.26 12749.58  5599.79  9960.43 46796.09 26318.12 33198.46 22347.97
 36771.93  3338.09 28735.82  8773.68 17752.1   5498.15  5613.69 16259.25
 48996.02  9591.18  1840.89 38404.86 40538.74 17968.91  3354.89 47508.14
 44447.34 13783.79 25550.95 27429.49 34514.22 31176.71 47250.69 43492.75
 32183.78 40246.52 34181.25 29094.99  7296.52 40749.   41211.33 31671.04
 41200.92 32922.75 11127.53 14424.1  11514.87 19485.7   2909.19 31294.44
 17491.16 33130.41 19884.43 34399.07 17690.6  13774.03 25305.84 34951.63
 18068.49 46895.76  2920.13 21479.36 48411.45 27850.62 21750.08 28857.49
 29220.3  36850.74  7256.8  13250.81 29446.66 43488.71 28531.47 12691.25
 34312.39 37255.53 19508.72 27182.05 25331.5  20091.29 15584.12  5899.26
  3620.78 47968.53 42510.01 18390.35 47883.24 34161.73 24643.53 25158.26
  5080.94  5493.5  28131.45 11423.67 47363.53 39283.51  6559.77 48738.16
  3737.69 37114.74 27749.87 48463.95 34713.47 42011.23 43476.57 42085.56
 21878.48 11906.24 20435.93  8183.64 26152.98 12428.18 29483.97 43293.79
 44137.64 12597.57 45476.99 30002.55 18160.69 35700.88 24601.68 19521.39
 35549.13 13187.48 17182.37 22288.14 13430.43 29002.18 37307.72 38592.55
 41316.73 37466.37 34370.93 12637.82 20610.92]
________________________________________________________________________________
expenses
There are 181 unique values
[21758.31  4188.66 24012.47 19916.94 36193.86 44016.58 25242.22 14859.54
  2431.33      nan 41400.65 11758.06 31445.79  3856.84  7896.59 10148.01
 13604.98 44814.5  31513.16 17596.98 33300.98 41228.82 43162.26  3074.94
 18056.22  5250.64 15436.87  8050.76 17777.94 10708.07 12334.24 16535.36
 12067.77 20669.22  1938.06 12949.48 18798.7  27323.79 12557.62  6426.74
  3890.92 42353.67 19040.44 26361.74 41403.36  4182.3  39511.44 25045.66
  7835.12 18800.85 35103.3  21876.47 44345.23 17264.88 17988.03 37397.81
 25824.13  3326.28  2138.57  1108.4   3853.48 31281.29 24278.41 33871.03
 41135.88 26539.15 32812.38 34190.11 17314.35  9624.52 11689.19 12725.56
  9721.63 39580.82 34186.46 12455.93  1487.22 22668.35 21691.38 37496.03
 14196.09 36829.17 43574.83  4434.17 35735.89 26753.04 21862.05 35417.74
 28951.58 40690.22 27968.24 44130.59 27559.91 28830.67  4549.59 32824.67
 24861.36 20565.51 41015.97 13759.2  31545.06 35942.99 20940.93 37973.07
 34716.84  3447.5   2540.83 28125.85  9806.32 26294.42 15699.56 24408.22
 20975.3  18313.37 31546.21  8512.99 31494.32 18818.92 39407.13 23428.
 43803.41 27286.13 37069.68 15856.18 15969.06  1915.31 24917.83 24281.85
 16341.62 40292.67  6229.3  14810.43  4606.93 21910.97 31106.42 23268.74
  7485.51 17289.23   615.48 39139.4   4261.01 27078.87 44388.44 41619.86
 11007.19 34318.02 24141.33 32562.96  3274.19  7074.39  6423.7  31078.86
 38077.61 33857.92  1856.01 39091.07 16259.53 18173.79  5166.68  8611.63
 25596.45  4469.59 24322.43 15760.25 21591.66 16302.14 29372.62 21841.4
 26496.88 33288.6  25319.53 26600.83 25618.41 17355.38 15516.38 11373.72
 22672.02 15200.51 42049.29   835.28 10527.31]
________________________________________________________________________________
profit_margin
There are 200 unique values
[21.44105689 26.95144104 43.2867883   8.9549431  41.2639199   7.50440702
 42.90413159  7.3235965   5.82091166 36.36326581 49.87649906 45.34746183
 30.9199288  46.28280259  5.23850029 48.87802233 27.08369507 37.53032435
 41.93876629 37.33057719 29.07665294 26.44787679 42.73621514 14.22849021
 48.55973299 36.99286155 13.97781173 38.13112327 28.84280104 36.8253543
 39.55007756  8.92805808 27.77467804 46.9406454  19.42889865 31.72473939
 21.61537167 25.44205875 29.68714031 29.7014891  14.0778708  35.80571965
  8.95406501 11.2471148   5.12199047 10.25132289 26.29247905 32.27458465
 40.74302525  9.80146626 43.2827357  38.56885365 23.38332318 46.98221302
 49.59182644 14.22508145 22.06528632 46.69022406 37.47184478  7.16425898
 40.16815168 42.25733992 38.77258661 40.97917089 42.13097045 13.38822441
 15.60612857 33.51913537 45.85397587 19.2288462  31.47380041 35.73419285
 25.33768706 37.12021047 45.48503504 33.08456949 29.29014779 24.74351039
 30.98688219 20.99131033 22.61669496 28.93358659  7.99786006 15.30614259
 29.42821898 24.41876644 19.97671037 37.87471116 36.21729233 12.5028842
 44.53831019 27.29406319 38.365741   30.79178822 49.89616772 38.8581404
 36.81412076 40.03573726 11.44075935 14.20450669 37.1328837  27.22916692
 38.95858813  9.63122138 29.14166082 22.04697045 25.56500987 32.17810424
 27.60297564 29.29372867 26.88608669 23.40298297 39.73468913  5.54913825
 31.92992155 30.44787563 37.22805836 31.95632141 42.20594725 48.15836576
 20.41359157 15.23079424 24.06185881 17.95683274 32.67276184 46.0333584
 11.26022874  9.53575714 16.52069893 37.67430137 31.68333074  9.59956989
 46.3437735  40.55380867  6.03601722 34.31152449 39.70610008 21.84959164
  8.10146927  8.47944795  9.69111347 42.81978344 45.98087892 10.52648518
 15.61577156 12.44842297 13.38443958 42.68708551 19.94658857 19.01499188
 15.23280294 32.35524772 22.06875643 38.49123433 14.25109138 40.45054499
 32.16746893 10.1420285  23.65270629 43.85831633 46.53321043 25.9565055
 26.63766401 46.33046262 31.41807009  6.47810016 46.07372583 16.17018992
 30.99343793 12.44809928  6.52456221 19.0162927  40.12230684 17.49142277
 14.90437463 14.5706353  28.18281571 48.89935921 25.65450446 30.0787416
 43.72844081 29.07813735 13.30082921 18.48181603 18.94716168 22.8793152
 24.20550074 40.99019099 20.72241496 26.07043228 33.12391942 21.99766763
 42.6454166  31.43541219 18.23201056 37.13266399 28.74414786 29.05051511
 26.64895768 27.3655377 ]
________________________________________________________________________________
years_in_operation
There are 24 unique values
[19  4  1  8 23  7  3 10 14  2 18 24 22 15  5 11 16 20 21 12  6  9 17 13]
________________________________________________________________________________
owner_education
There are 4 unique values
['Secondary' 'No Formal Education' 'Tertiary' 'Primary']
________________________________________________________________________________
employee_count
There are 87 unique values
[74 98 57 90 41  3  6  5 54 47 87 49  9 99 20 61 35 50 82 62 17 88 32 13
 89 73 68 14 11 56 67 92 29 25 76 42 79 40 59 38 72 48 18 70 37 60 77 28
 69 81 45 96 93 58 91 33 19 80 97 53 63 27  7 31 23 10 30 39  2 78 12 66
 46 95 64 83 71 94 22 65 36 52 51 75 26  4 15]
________________________________________________________________________________
advertising
There are 200 unique values
[ 503.67 3434.45 3307.1  1438.97 4759.23  840.18 2218.44 4723.72 2156.66
 3228.78 2048.21 1443.65 4921.49 2105.74 4481.09 1226.78 1144.21  252.56
 3293.17 1905.78 4335.36 2418.73 4844.15 1009.08 4356.25 3905.32 3877.52
 4239.44 3829.02 3168.48  743.1   259.38 4612.15 3121.59 4003.03 2459.46
  674.81  713.41 3459.27 2208.5  1082.57 2508.81  414.62 2951.66 1418.07
 4008.04 1620.77 2330.58  156.94  454.99 2023.22 2451.7  3040.1  1529.15
 3505.41 4314.6  3921.27  294.13 2454.48  614.16 1286.02 4934.65  798.23
 2544.55 3128.96 3542.08 2842.28  147.88 1699.66 2636.79  530.55 1818.07
  262.7   485.03 2044.92  750.31 2880.95 3478.38 4022.87 1080.74  920.66
  612.38 3218.51 3561.73  254.77 4687.44  354.66 2752.35 3574.4  4367.75
 3599.03 4028.47 1763.31 4092.64  492.56 4484.6  2783.2  4104.76 2316.36
 3253.53 2679.37 3684.79  499.99  395.73 1310.81  881.77 4371.74 1174.15
 4881.74 1750.79  992.38 3969.52 3327.67 2541.16 2821.28 3624.09 1219.43
 4982.04 4876.49 3286.6  1077.76 3433.12  453.77  250.2  1362.65 2366.85
 4354.54 3663.13 3739.26 2184.92 1795.08 1918.09 4939.48  296.54 4348.45
 2935.51 2249.22 3653.76 2484.68 4379.77 4513.44 2166.43 1456.46 3002.52
 4570.58 1132.24 3152.54 3194.65 3692.25  744.68 3607.54 4554.26  980.45
 1263.96 4859.84  986.79 4286.49 2512.16 1311.43 4366.67 2282.   2622.61
 1860.24 3005.46  901.27 2016.3  4850.12 1364.85 3318.01 1693.43 3890.02
  741.28 4852.12 2323.57 1256.65  460.13  931.81 2646.89 1751.32 4161.53
 2211.35 1318.7  3124.01 3563.21  918.51  921.33  279.69 3708.37 3352.64
 2425.69 4236.44 4047.78 2968.24 4354.53 1108.62  648.41 1421.77  379.73
 2702.73 4689.37]
________________________________________________________________________________
customer_satisfaction
There are 5 unique values
[5 1 3 4 2]
________________________________________________________________________________
credit_access
There are 2 unique values
['Yes' 'No']
________________________________________________________________________________
sector_growth
There are 193 unique values
[16.34 16.04 14.18 13.7  -0.86 -7.57  2.09 -4.79 10.85  0.38 19.27  9.23
 14.67 -6.02 15.86 17.68  4.61  8.19 12.94 -4.75  5.08  1.96 -5.61  1.03
 -7.95 -9.23 -5.95 18.89  6.49 18.97  2.97 -0.65  5.18  3.19 -6.83  9.22
 -3.52  8.59  9.51 -5.44 -8.16 13.42  3.79 -8.26 19.85 -8.27 19.51 -2.82
 -5.73 -6.36 -0.9  -6.97 10.76 -8.13  5.28 19.9  14.42  8.46 -0.81  8.72
  5.81  2.78 -6.08 16.6   3.49 -4.16  2.42 14.83 12.01 13.08 -9.67  2.48
  4.44 -9.42 -2.21 12.81 -5.89  6.06 -3.54 -9.64 -2.76 19.28 14.05 18.79
  4.64 -6.71  6.44  3.63 15.33 -7.06  4.65 -5.5  -0.26 12.12  4.28  1.28
  1.83  3.78 13.55 16.76 18.66 13.61 -0.54 10.64  3.13 -2.36 15.23 -8.85
 17.05  3.84  9.12  9.78 16.85  9.1   8.42 -8.    5.55 -5.49  5.37 10.41
 -8.75 -7.46 11.49 -7.84 -7.86 18.7  12.13  0.6  -1.1   0.49 13.24  9.84
 -4.44 -4.78 -7.05  9.81 12.93 -2.05 -9.37 -7.53 19.04 -1.14  8.74  1.46
 -3.83  8.45  9.32  5.91 -8.74 19.05 13.96 -1.22 19.4   8.06  7.47 12.44
 14.35  9.69 -6.16  0.15 17.84 -3.26  1.17  2.96  3.18  8.39 18.29 -2.78
 -6.35 -4.08 16.61  9.37 -1.42 14.48 15.84 15.4  17.57 -2.43 12.65  3.82
 15.26 11.85 13.29  9.68 -4.68  6.35 19.54 18.12 -8.7  -5.06 -6.05 11.78
 14.53]
________________________________________________________________________________